motus_archaea_kegg_profiling/motusid_archaea_annotated.nw
motus_archaea_kegg_profiling/motusid_archaea_annotated.ete
motus_full_habitat/motusid_full_annotated.nw
gtdb_archaea_profiling/gtdb207dump.tar.gz
